body{
  font-family: 'Montserrat', sans-serif;
  font-family: 'Nunito', sans-serif;
}
.text-title{
background: #79E5E1 ;
/* background: #58D68D ; */
background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
height: 50px;
}

header{
  background: #79E5E1;
  height: 240px;
  background: #AAFFA9;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #11FFBD, #AAFFA9);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #11FFBD, #AAFFA9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



}
.wave{
  height: 230px;
  width: 100%;
margin-top: -50px;
/* position:absolute;
bottom:0;
left: 0; */
}


.footer-wave{
    position: absolute;
  width: 100%;
  margin-top:-30px;
}
.texto-fonts{
  /* font-family: 'Nunito', sans-serif; */
/* color: red; */
font-family: 'Montserrat', sans-serif;
font-family: 'Nunito', sans-serif;
}
.foot_log {
  /* position: absolute; */
/* width: 100%; */
margin-top:-70px;
}
.icons-font-colo{
color:#070707; font-size:40px;
}
